@* @attribute [Authorize] *@
@rendermode InteractiveServer

@page "/tour-map/post/add"
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration

<div>
    <input id="search-box" class="form-control mb-3" type="text" placeholder="Search places..." />
    <button class="btn btn-primary mb-3" @onclick="SavePin">Save Pin</button>
    <div id="map" style="height: 70vh; width: 100%;"></div>
</div>

<p><b>Selected Location:</b> @SelectedLocation?.Title</p>

@code {
    private Location? SelectedLocation;

    // Load Google Maps and set up the search box
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var apiKey = Configuration["GOOGLE_MAPS_API_KEY"];

            List<Location> locations = new List<Location>();

            var locationsJson = JsonSerializer.Serialize(locations);

            await JSRuntime.InvokeVoidAsync("loadGoogleMapsScript", apiKey, "initMap", locationsJson);
        }
    }

    private async Task SavePin()
    {
        // Call JavaScript function to get the map center coordinates
        var mapCenter = await JSRuntime.InvokeAsync<Location>("getMapCenter");

        if (mapCenter == null) {
            return;
        }

    }

    public class Location
    {
        public string Title { get; set; }
        public double Lat { get; set; }
        public double Lng { get; set; }
        public string EnglishAddress { get; set; }
        public string KoreanAddress { get; set; }
    }


}