<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["common.css"]" />
    <link rel="stylesheet" href="@Assets["HashKorea-Blazor.styles.css"]" />

    <!-- mudblazor -->
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />

    <!-- radzen blazor-->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <!--mudblazor-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <!-- radzen blazor-->
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>

    @* Tizzani.MudBlazor.HtmlEditor *@
    <link href="_content/Tizzani.MudBlazor.HtmlEditor/MudHtmlEditor.css" rel="stylesheet" />

    <script src="/js/common.js"></script>
</head>

<body>

    @* Tizzani.MudBlazor.HtmlEditor *@
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="_content/Tizzani.MudBlazor.HtmlEditor/quill-blot-formatter.min.js"></script>

    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
